<div class="footer">
    <img src="../../../../assets/logo.png" alt="logo" class="logo">
    
    <ul>
        <li>
            <p>
                <img src="../../../../assets/icon/home.png" alt="home">
                головна
            </p>            
        </li>
        <li>
            <p>
                <img src="../../../../assets/icon/recept.png" alt="recept">
                рецепти
            </p>
        </li>
        <li>
            <p>
                <img src="../../../../assets/icon/contacts.png" alt="contacts">
                зворотній звязок
            </p>
        </li>
    </ul>
</div>