<div class="footer">
    <img src="../../../../assets/logo.png" alt="logo" class="logo">
    
    <ul>
        <li>
            <a [routerLink]="'main'" routerLinkActive="active">
                <img src="../../../../assets/icon/home.png" alt="home">
                головна
            </a>             
        </li>
        <li>
            <a [routerLink]="'main'" routerLinkActive="active">
                <img src="../../../../assets/icon/recept.png" alt="recept">
                рецепти
            </a>
        </li>
        <li>
            <a [routerLink]="'reverse-connection'" routerLinkActive="active">
                <img src="../../../../assets/icon/contacts.png" alt="contacts">
                зворотній звязок
            </a>
        </li>
    </ul>
</div>