:host{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: #d8c5b1;
    border: 2px solid #000;
    border-radius: 40px;
    
}

.container {
    padding: 30px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    
    &__form h2 {
        margin-bottom: 20px;
        color: #333;
    }
}

h2{
    font-family: "Great Vibes", serif;
    letter-spacing: 12px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;

    label {
        display: block;
        margin-bottom: 5px;
        color: #666;
    }

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
}


button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
    }
}
