<div class="header">
    <img src="../../../../assets/logo.png" alt="logo" class="logo">
    
    <ul class="topmenu">
        <li>
            <a [routerLink]="'main'" routerLinkActive="active">
                <img src="../../../../assets/icon/home.png" alt="home">
                головна
            </a>            
        </li>
        <li>
            <a [routerLink]="'main'" routerLinkActive="active">
                <img src="../../../../assets/icon/recept.png" alt="recept">
                рецепти
            </a>
            <ul class="topmenu__recept">
                <li>
                    сніданок
                </li>
                <li>
                    обіди
                </li>
                <li>
                    основні страви
                </li>
                <li>
                    десерти
                </li>
                <li>
                    вечеря
                </li>
                <li>
                    закуски
                </li>
                <li>
                    напої
                </li>
                <li>
                    гарніри
                </li>
                <li>
                    детяче меню
                </li>
            </ul>
        </li>
        <li>
            <a [routerLink]="'reverse-connection'" routerLinkActive="active">
                <img src="../../../../assets/icon/contacts.png" alt="contacts">
                зворотній звязок
            </a>
        </li>
    </ul>

    <div class="login" (click)="loginVisible()">
        <img src="../../../../assets/icon/user login out.png" alt="user">
        увійти
    </div>

    <rca-login-form *ngIf="isLogin"></rca-login-form>
</div>