<div class="header">
    <img src="../../../../assets/logo.png" alt="logo" class="logo">
    
    <ul class="topmenu">
        <li>
            <p>
                <img src="../../../../assets/icon/home.png" alt="home">
                головна
            </p>            
        </li>
        <li>
            <p>
                <img src="../../../../assets/icon/recept.png" alt="recept">
                рецепти
            </p>
            <ul class="topmenu__recept">
                <li>
                    сніданок
                </li>
                <li>
                    обіди
                </li>
                <li>
                    основні страви
                </li>
                <li>
                    десерти
                </li>
                <li>
                    вечеря
                </li>
                <li>
                    закуски
                </li>
                <li>
                    напої
                </li>
                <li>
                    гарніри
                </li>
                <li>
                    детяче меню
                </li>
            </ul>
        </li>
        <li>
            <p>
                <img src="../../../../assets/icon/contacts.png" alt="contacts">
                зворотній звязок
            </p>
        </li>
    </ul>

    <div class="login">
        <img src="../../../../assets/icon/user login out.png" alt="user">
        увійти
    </div>
</div>